/* RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERIC */
.container{
  width: 65%;
  margin: auto;
}

/* HEADER TOP */
.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* test */
  height: 55px;
}

.top-section-color{

  /* test */
  background-color: #add8e6;
}

.menu{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu li{
  padding: 0 20px;
}

.menu li a{
  text-decoration: none;
  color: inherit;
}

.logo,
nav,
.login {
  padding: 5px 7px;

  /* test */
  border: 1px dashed black;
  background-color: #daa520;
}

.logo{
  width: 20%;
}

nav{
  width: 60%;
}

.login{
  width: 20%;
  text-align: right;
  text-decoration: none;
  color: inherit;
}

/* HEADER BOTTOM */
.jumbotron-bg{
  display: flex;
  justify-content: center;
  align-items: center;

  /* test */
  background-color: #00008b;
  height: 400px;
}

.jumbotron-content{

  /* test */
  background-color: #ee82ee;
  width: 60%;
  height: 80%;
  border: 1px dashed black;
}

/* MAIN */

.section-color{

  /* test */
  background-color: white;
  height: 500px;
}

.section-color2{

  /* test */
  background-color: #d3d3d3;
  height: 500px;
}

.flex-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;

  /* test */
  height: 100%;
}

/* CONTENT SECTION */
.content1{

  /* test */
  height: 390px;
  width: 550px;
  background-color: #1d90ff;
  border: 1px dashed black;
}

.content2{

  /* test */
  height: 390px;
  width: 350px;
  background-color: #ffbfcb;
  border: 1px dashed black;
}

.content3{

  /* test */
  height: 500px;
  width: 900px;
  background-color: #238b21;
  border: 1px dashed black;
}