/* RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERIC */
.container{
  width: 70%;
  margin: auto;
}

/* HEADER TOP */
.flex-container{
  display: flex;
  /* justify-content: space-around;
  align-items: center; */
}

.top-section-color{

  /* test */
  background-color: #add8e6;
  padding: 20px 0;
}

.menu{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu li{
  padding: 0 20px;
}

.menu li a{
  text-decoration: none;
  color: inherit;
}

.logo,
nav,
.login {
  padding: 5px 7px;

  /* test */
  border: 1px dashed black;
  background-color: #daa520;
}

.flex-container .logo{
  width: 20%;
}

.flex-container nav{
  width: 60%;
}

.flex-container .login{
  width: 20%;
  text-align: right;
  text-decoration: none;
  color: inherit;
}

/* HEADER BOTTOM */
.jumbotron-bg{
  display: flex;
  justify-content: center;
  align-items: center;

  /* test */
  background-color: #00008b;
  height: 400px;
}

.jumbotron-content{

  /* test */
  background-color: #ee82ee;
  width: 60%;
  height: 80%;
  border: 1px dashed black;
}

/* MAIN */

.section-color{

  /* test */
  background-color: white;
  padding: 30px 0;
}

.section-color2{

  /* test */
  background-color: #d3d3d3;
  padding: 30px 0;
}

.section-color3{

  /* test */
  background-color: #23272a;
  padding: 10px 0 30px 0;
}

/* CONTENT SECTION */
.content-box{
  display: flex;
  width: 70%;
  border: 1px dashed black;
}
.content1{

  /* test */
  height: 390px;
  width: 60%;
  background-color: #1d90ff;
  border: 1px dashed black;
}

.content2{

  /* test */
  height: 390px;
  width: 40%;
  background-color: #ffbfcb;
  border: 1px dashed black;
}

.content3{

  /* test */
  height: 650px;
  width: 100%;
  background-color: #238b21;
  border: 1px dashed black;
}

.content4{

  /* test */
  height: 390px;
  width: 30%;
  background-color: #f08080;
  border: 1px dashed black;
}

.content5{

  /* test */
  height: 100%;
  width: 25%;
  background-color: #20b2aa;
  border: 1px dashed white;
}

/* HR */
hr{
  border: 1px solid #838485;
}

/* FOOTER */
.footer-section-color{
  
  /* test */
  background-color: #23272a;
  
}

.flex-container-footer{

  justify-content: space-between;
  align-items: center;
  
  /* test */
  /* padding: 10px 0; */
  height: 50px;
  background-color: #7fffd4;
}

.flex-container-footer .logo{
  background-color: #ffb6c0;
  padding: 2px;
  width: 5%;
  text-align: center;
}

.flex-container-footer .login{
  background-color: #ffb6c0;
  text-decoration: none;
  color: inherit;
  padding: 2px;
  width: 7%;
  text-align: center;
}

.footer-section-color hr{
  margin-bottom: 20px;
}